body {
    overflow-x:hidden !important;
    font-family: 'DM Sans', sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
}

h5.footer-h {
    color: var(--bs-cyan) !important;
    font-family: 'Outfit', sans-serif;
    font-weight:500;
}

card {
    border: none !important;
}

.subheader {
    font-family: 'Akshar', sans-serif;
}

p.card-text-style {
    color: var(--bs-cyan) !important;
    font-family: 'DM Sans', sans-serif !important;
    font-weight:500;
}

.keyboard-bg {
    background: url('img/bg-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner-color {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    margin:auto;
    padding-top:3%;
    padding-bottom:3%;
}

.img-wasd {
    max-width:15%;
    max-height:128px;
}

.img-footer-logo {
    max-width:10%;
    max-height:128px;
}

.img-header-logo {
    max-height: 64px;
    max-width: 64px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 200,
    'opsz' 48
  }

  .card-img-top {
    width: 100%;
    height: 16vw;
    object-fit: cover;
}

 .product-image {
    max-width: 100%;
    object-fit: cover;
 }

 .nav-color {
    color: var(--bs-body-color) !important;
    font-family: 'Outfit', sans-serif;
    font-weight:700;
}

.nav-link:hover {
    color: var(--bs-cyan) !important;
}

a.product-link {
    text-decoration: none;
    color: var(--bs-body-color) !important;
}

a.product-link:hover {
    text-decoration: none;
    color: var(--bs-light) !important;
    background-color: var(--bs-gray) !important;
}

.card-body-link:hover {
    background-color: var(--bs-gray-900) !important;
}