body {
    overflow-x:hidden !important;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--bs-light) !important;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
}

h5.footer-h {
    color: var(--bs-cyan) !important;
    font-family: 'Outfit', sans-serif;
    font-weight:500;
}

card {
    border: none !important;
}

.btn-primary {
    background-color: var(--bs-cyan) !important;
    border: none !important;
}

.subheader {
    font-family: 'Akshar', sans-serif;
}

p.card-text-style {
    color: var(--bs-cyan) !important;
    font-family: 'DM Sans', sans-serif !important;
    font-weight:500;
}

.keyboard-bg {
    background: url('img/bg-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 450px;
}

.banner-color {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
}

.img-wasd {
    max-width:20%;
    max-height:14vw;
}

.img-footer-logo {
    max-width:10%;
    max-height:128px;
}

.img-header-logo {
    max-height: 64px;
    max-width: 64px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' -25,
  'opsz' 24
}

span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
  }

  .card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

.product-image {
    width: 100%;
    /* height: 32vw; */
    object-fit: cover;
}

 .nav-color {
    color: var(--bs-body-color) !important;
    font-family: 'Outfit', sans-serif;
    font-weight:700;
}

.nav-link:hover {
    color: var(--bs-cyan) !important;
}

/*
.button-container {
    display: flex;
}*/

h5.price {
    color: var(--bs-cyan) !important;
    font-family: 'Outfit', sans-serif;
    font-weight:500;
    font-size: 25px;

}

.quantity-button-l {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    width: 50px; /*40px*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.quantity-button-r {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    width: 50px; /*40px*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.quantity-input {
    width: 100px; /*60px */
    text-align: center;
    font-size: 16px;
}

.add-to-cart-button {
    padding: 4px 6px;
    width: 200px; /*140px*/
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--bs-cyan);
    font-family: 'DM Sans Regular', sans-serif;
    font-size: 21px;
    color: var(--bs-white) !important;
    text-align: center;
    border-radius: 10px;
}

.quantity-button-l, .quantity-button-r, .quantity-input, .add-to-cart-button, .message {
    height: 40px;
    align-items: center;
    text-align: center;
}

.add-to-cart-button img {
    margin: 0 5px 5px 0;
    align-items: center;
}

.message {
    display: none;
    background-color: blueviolet;
    color: white;
    margin-left: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 4px 6px; */
}

.flavortext-container {
    margin-top: 40px;
    margin-bottom: 10px;
}

.flavortext-container p, ul, li {
    font-family: 'DM Sans', sans-serif;
    font-size: large;
    font-weight: 500;
}

.other-products-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.other-products-container a {
    text-decoration: none;
}
.other-products-container a:hover {
    cursor: pointer;
}

.other-products-container img {
    margin-top: 20px;
    object-fit: contain;
    width: 200px;
    height: auto;
}

/* .col-sm {
    background-color: aquamarine;
} */



a.product-link {
    text-decoration: none;
    color: var(--bs-body-color) !important;
}

a.product-link:hover {
    text-decoration: none;
    color: var(--bs-light) !important;
    background-color: var(--bs-gray) !important;
}

.card-body-link:hover {
    background-color: var(--bs-gray-900) !important;
}